.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
  transition: all ease-out 0.3s;
}

.single:hover {
  border-left: 8px solid #4979ff;
  transition: all ease-out 0.3s;
  cursor: pointer;
}
